app.controller('TaskController', ['$scope', '$http', function ($scope, $http) {

  $scope.addTask = function(project) {
    var obj = this;
    if (obj.task) {
      $http.post('/projects/' + project.id + '/tasks', { description: obj.task }).
        then(function(response) {
          var data = response.data;
          project.tasks.push({ id: data.id, description: data.description, completed: data.completed });
          obj.task = '';
        }, function(response) {
        });
    }
  };

  $scope.deleteTask = function(project, task, event) {
    event.preventDefault();

    if (confirm('Are you sure ?')) {
      $http.delete('/projects/' + project.id + '/tasks/' + task.id).
        then(function(response) {
          project.tasks.forEach(function(item, i, arr) {
            if (item.id == task.id) {
              project.tasks.splice(i, 1);
            }
          })
        }, function(response) {

        });
    }
  };

  $scope.editTask = function(project, task, event) {
    event.preventDefault();

    var editBlock = angular.element(event.currentTarget)
                  .parent().parent().parent().parent()
                  .find('td').eq(2);
    var taskDescription = '';
    var editFormTpl = "<form><input type='text' name='' value=''></form>";
    var obj = this;
    var input;

    if (!editBlock.hasClass('edit-mode')) {
      editBlock.addClass('edit-mode');
      taskDescription = editBlock.find('p').text();
      form = angular.element(editFormTpl);

      // form.find('input').bind('blur', function(event) {
      //   obj.taskEditBlurEvent(event);
      // });

      form.bind('submit', function(event) {
        obj.taskEditSubmitFormEvent(event);
      });

      editBlock
        .append(form)
        .find('input')
        .val(taskDescription)[0]
        .focus();
    }
  };

  // $scope.taskEditBlurEvent = function(event) {
  //   event.preventDefault();
  //   var input = angular.element(event.currentTarget);
  //   var editBlock = input.parent().parent();
  //   editBlock.find('p').text(input.val());
  //   input.parent().remove();
  //   editBlock.removeClass('edit-mode');
  // };

  $scope.taskEditSubmitFormEvent = function(event) {
    event.preventDefault();
    var form = angular.element(event.currentTarget);
    var editBlock = form.parent();
    var input = form.find('input');
    editBlock.find('p').text(input.val());
    form.remove();
    editBlock.removeClass('edit-mode');
  };

}]);