.todo-list{ 'ng-controller': 'TaskController' }
  %table
    %tbody
      %tr{ 'ng-repeat': "task in project.tasks", class: "completed-{{ task.completed }}" }
        %td.todo-list-checkbox
          %input{ type: "checkbox", 'ng-model': 'task.completed', 'ng-change': 'completeTask(project, task)' }
        %td.todo-list-divider
          \&nbsp;
        %td.todo-list-task
          %p {{ task.description }}
        %td.todo-list-actions
          %ul
            / %li
            /   %a.todo-list-task-sort{ href: "#" } Sort
            %li
              %a.todo-list-task-edit{ href: "#", 'ng-click': 'editTaskDescription(project, task, $event)' } Edit
            %li
              %a.todo-list-task-delete{ href: "#", 'ng-click': 'deleteTask(project, task, $event)' } Delete}
