!!!
%html{ lang: 'en', 'ng-app': 'todo' }
  %head
    %title RubyGarage Todo list
    %meta{ charset: "utf-8" }
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %link{ href: "apple-touch-icon.png", rel: "apple-touch-icon" }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .main
      .header
        %h1 simple todo lists
      .content{ 'ng-controller': 'ProjectController' }
        %section.list
          <projects></projects>
        .new-todo
          %input{ type: 'submit', value: 'Add TODO List', 'ng-click': 'createProject($event)' }