!!!
%html{ lang: 'en' }
  %head
    %title RubyGarage Todo list
    %meta{ charset: "utf-8" }
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %link{ href: "apple-touch-icon.png", rel: "apple-touch-icon" }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .main
      .header
        %h1 simple todo lists
        %p from ruby garage
      .content
        %section.list
          %article
            .todo-header
              %h3 Complete the test task for Ruby Garage
              %ul.hidden
                %li
                  %a.todo-action-edit{:href => "#", :title => "Edit"} Edit
                %li
                  %a.todo-action-remove{:href => "#", :title => "Delete"} Delete
              %input{:name => "", :type => "text"}
            .todo-bar
              .todo-bar-new
                %form
                  %input{:name => "", :placeholder => "Start typing here to create a task...", :type => "text"}
                    %button Add Task
            .todo-list
              %table
                %tbody
                  %tr
                    %td.todo-list-checkbox
                      %input{:type => "checkbox"}
                    %td.todo-list-divider
                      \&nbsp;
                    %td.todo-list-task
                      %p Open this mock-up in Adobe Fireworks
                    %td.todo-list-actions
                      %ul.hidden
                        %li
                          %a.todo-list-task-sort{:href => "#"} Sort
                        %li
                          %a.todo-list-task-edit{:href => "#"} Edit
                        %li
                          %a.todo-list-task-delete{:href => "#"} Delete
        .new-todo
          / %button Add TODO List
      = yield